    {include file="public/header"}
    {include file="public/aside"}
   
    <main style="background: url(__PUBLIC__/index/static/img/bg-2.png) fixed;">
    <section id="story">
        <div class="wrap">
            <h2 class="title">个人经历</h2>
            <div class="row">
                <div class="col-m-8">
                    <ul class="timeline">
                        <li>2016.07.03：创立缤奇（Binkic）团队</li>
                        <li>2016.12.20：仿照某动漫官网编写模板，并搭建运营了一个动漫型社区</li>
                        <li>2017.05.30：带领团队进行招新，并发起了首个游戏项目：<a>色块冲刺</a></li>
                        <li>2017.08.17：为团队制作了首部宣传片：<a href="javascript:;" target="_blank">创意可以改变什么</a></li>
                        <li>2017.12.08：个人编写的前端响应式框架 <a href="javascript:;" target="_blank">Kico Style</a> 初现雏形</li>
                        <li>2018.03.01：基于 Kico Style 的第一个原创 <a href="javascript:;" target="_blank">缤奇团队官网</a> 正式上线</li>
                        <li>2018.04.27：使用前端技术编写的 <a href="javascript:;" target="_blank">梦想晨会</a> 制作完成</li>
                        <li>2018.06.07：参加“众创杯”创业大赛校园选拔赛，团队项目荣获三等奖</li>
                        <li>2018.06.17：动漫门户网站制作完成，内含一个自己设计的简单音乐播放器</li>
                        <li>2018.06.25：参加全国中职信息技术技能大赛微网站项目，荣获一等奖</li>
                        <li>2018.08.03：原创博客主题 <a href="javascript:;" target="_blank">Single</a> 发布，截至 2 月共有 66 Stars</li>
                        <li>2018.09.19：个人编写的播放器 <a href="javascript:;" target="_blank">Kico Player</a> 发布测试版</li>
                        <li>2018.12.12：基于 ES6 的时钟小工具 <a href="javascript:;" target="_blank">Kico Tools</a> 发布测试版</li>
                        <li>2018.12.18：第一个基于 PHP 的个人首页 <a href="javascript:;" target="_blank">Sweet</a> 发布正式版</li>
                        <li>2019.01.01：缤奇团队新<a href="javascript:;" target="_blank">官网</a>正式上线，后端采用 Typecho 驱动</li>
                        <li>2019.02.16：结合前后端制作了一个春节的<a href="javascript:;" target="_blank">问答红包</a>，使用正则判断答案</li>
                    </ul>
                </div>
                <div class="col-m-4 center-fixed">
                    <img src="__PUBLIC__/index/static/img/story.png"/>
                </div>
            </div>
        </div>
    </section>
    </main>
    {include file="public/footer"}
    