    {include file="public/header"}
    {include file="public/aside"}
    <main style="background: url(__PUBLIC__/index/static/img/bg-2.png) fixed;">

    <section id="works">
        <div class="wrap">
            <h2 class="title">个人作品</h2>
            <div class="row">
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="__PUBLIC__/index/static/img/works/binkic-2017.jpg"/>
                        <p>缤奇团队 2017 官网</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="__PUBLIC__/index/static/img/works/space.jpg"/>
                        <p>个人博客</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="__PUBLIC__/index/static/img/works/dream.jpg"/>
                        <p>梦想主题班会</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="__PUBLIC__/index/static/img/works/kico-style.jpg"/>
                        <p>Kico Style 响应式框架</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="__PUBLIC__/index/static/img/works/robots.jpg"/>
                        <p>小缤机器人</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="__PUBLIC__/index/static/img/works/single.jpg"/>
                        <p>Single 博客主题</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="__PUBLIC__/index/static/img/works/kico-player.jpg"/>
                        <p>Kico Player 播放器</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="__PUBLIC__/index/static/img/works/sweet.jpg"/>
                        <p>个人主页 Sweet</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="__PUBLIC__/index/static/img/works/binkic-2018.jpg"/>
                        <p>缤奇团队 2018 官网</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>
    
        {include file="public/footer"}