    {include file="public/header"}
    {include file="public/aside"}
    <main style="background: url(__PUBLIC__/index/static/img/bg-2.png) fixed;">
    <section class="content-d" id="team">
        <div class="wrap">
            <h2 class="title">我的团队</h2>
            <div class="row">
                <div class="col-m-6">
                    <p>我的团队 - 缤奇团队由一群热爱科技创新的年轻人所组成，做到了“实际”与“创新”的结合。奇思妙想不乏真正落实。集思广益，生动有趣的创意，尽在缤奇。缤奇团队如今有超过30名成员，各个部门互帮互助，同为一个目标而努力进取着。</p>
                    <p>缤奇团队致力于开发原创游戏、动漫等项目。目前我们已完成项目有手机游戏“色块冲刺”、聊天娱乐项目“小缤机器人”等。正在创作项目有解密游戏“月亮湖的秘密”、VR 项目“梦想码头”等。缤奇官网 &amp; 社区已陆续开放。网站采用团队成员自主编写的 CSS3 自适应框架，针对移动设备有布局优化，缤奇团队有着丰富的网站建设技术能力、有独立的画师以及文编。</p>
                    <p>团队官网：<a href="http://www.wangdahai.cn">http://www.wangdahai.cn</a></p>
                </div>
                <div class="col-m-6 center">
                    <img src="__PUBLIC__/index/static/img/team.png"/>
                </div>
            </div>
        </div>
    </section>
    </main>
    
    {include file="public/footer"}