    {include file="public/header"}
    {include file="public/aside"}
    <main style="background: url(__PUBLIC__/index/static/img/bg-2.png) fixed;">
		        <div class="info">
		            <div class="info_menu">
		                <ul>
		                    <li data-url="{:url('index/index/index')}"><a href="{:url('index/index/index')}">首页</a></li>
		                    {volist name="list" id="vo"}
		                        <li data-url="{:url($vo.urlname)}"><a href="{:url($vo.urlname)}">{$vo.classname}</a></li>
		                    {/volist}
		                </ul>
		            </div>
		        </div>
		        <div class="info_main">
		            {$info}
		        </div>
	</main>
    {include file="public/footer"}


