    
<aside class="sidebar">

    <div class="avatar">
        <img src="__PUBLIC__/index/static/img/avatar.jpg" title="保罗酱"/>
    </div>
    <nav class="nav" style="cursor: pointer;">
        <a  href="__ROOT__">首页</a>
        <a  href="{:url('index/index/info')}">专业技能</a>
        <a  href="{:url('index/index/imgupload')}">图片上传</a>
        <a  href="{:url('index/index/softdown')}">软件下载</a>
        <a  href="{:url('index/index/percollect')}">个人收藏</a>
        <a  href="{:url('index/index/introduction')}">简介资料</a>
        <a  href="{:url('index/index/contact')}">联系站长</a>
    </nav>
</aside>
    
