<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>__PUBLIC__魔多的个人简历</title>
    <meta name="theme-color" content="#ffc91d"/>
    <link rel="icon" href="__PUBLIC__/index/static/img/32.png" sizes="32x32"/>
    <link rel="icon" href="__PUBLIC__/index/static/img/192.png" sizes="192x192"/>
    <link href="__PUBLIC__/index/static/kico.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/index/static/moreduo.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/index/index/info.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/index/index/index.css">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1"/>
    <script src="__PUBLIC__/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/index/static/kico.js"></script>
    <script src="__PUBLIC__/index/static/moreduo.js"></script>
</head>
<body>